#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.shipCard,
.planetCard,
.filmCard,
.pplCard {
  border: 2px solid orange;
  margin: 5px;
}

.nav-links {
  border: 2px solid red;
  padding: 5px;
}
